.container{
    width: 420px;
    height: 760px;
    display: flex;
    background-color: rgb(248, 248, 248);
    flex-wrap: wrap;
    gap: 5px;
    align-content: flex-end;
    margin-left: auto;
    margin-right: auto;
}

.num-container{
    height: 100px;
    font-size: 80px;
    text-align: right;
    line-height: 40px;
    font-family:Arial, Helvetica, sans-serif;
    width: 415px;
}
.buttons{
    width: 100px;
    height: 100px;
    font-size: 30px;
    background-color: rgb(238, 237, 237);
    border: none;
} 
.buttons:hover{
    background-color: rgb(173, 213, 239);
    opacity: 0.7;
    
}
.buttons:active {
    opacity: 0.7;
    background-color: #ffffff;
    box-shadow: 0 2px #fdfdfd;
    /* transform: translateY(4px); */
  }
.operator{
    background-color: rgb(212, 212, 212);
}
.equals{
    background-color: rgb(157, 197, 223);
}
